POSTGRES_DB=secunda_payments
POSTGRES_USER=secunda
POSTGRES_PASSWORD=secunda
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

RABBITMQ_USER=secunda
RABBITMQ_PASSWORD=secunda
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

API_KEY=try_to_guess